
/** ----------------------------------------- Upper Timeline Info Styles -- */

/** .main-timeline .headline .selected-item {
    font-size: 1.2em;
    margin-left: 10px;
    margin-top: 10px;
}

.main-timeline .headline .selected-item span {
    color: #0782C1;
    margin-left: 10px;
}

.main-timeline .headline .selected-item a.view-button {
    border: 1px solid #f1f1f1;
    border-top: 1px solid #fff;
    padding: 7px;
    margin-left: 10px;
} */

.eduzen.main-timeline {
    padding: 30px;
    font-size: 1em;
}

.main-timeline .headline {
    color: #a9a9a9; /** #3E6D8E; **/
}

.main-timeline .timeline-info {
    padding: 10px;
    position: fixed;
    top: 50px;
    right: 50px;
    width: 230px;
    text-align: right;
    background-color: #fff;
}

.main-timeline .timeline-info span.state {
    color: #0782C1;
}

.hidden {
    display: none;
}

.timerange-settings-dialog {
    padding: 5px;
    padding-left: 40px;
    /** text-align: center; **/
    position: absolute;
    background-color: #fff;
    border-bottom: 1px solid #0782C1; 
    z-index: 100;
    width: 100%;
    position: relative;
}

.timerange-settings-dialog select,
.timerange-settings-dialog button {
    display: inline-block;
    margin: 5px;
    padding: 3px;
    cursor: pointer;
}

.eduzen .item-list-header .counter {
    font-size: .9em;
}

.eduzen .item-list-header {
    position: fixed;
    top: -10px;
    left: 40px;
    z-index: 1002;
}

.eduzen ul.note-list {
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 280px;
    position: relative;
    top: 50px;
}

.eduzen ul.note-list li.item {
    list-style-type: none;
    color: #a9a9a9;
    margin-bottom: 30px;
    margin-top: 0px;
}

.eduzen li.item .note-container {
    color: #343434;
    cursor: pointer;
}

.eduzen li.item {
    padding-left: 10px;
    border-left: 3px solid #fff;
}

.eduzen li.item.topic:hover,
.eduzen li.item.institution:hover,
.eduzen li.item.person:hover,
.eduzen li.item.note:hover {
    border-left: 3px solid #0782C1;
}

.eduzen li.item.web-resource {
    cursor: auto;
}

.eduzen li.item .note-container .body a.url {
    display: inline-block;
}

.eduzen li.item .text {
    margin-bottom: 10px;
}

.eduzen li.item .username,
.eduzen li.item .timestamp {
    font-size: .9em;
    color: #a6a6a6;
}

.eduzen li.item .note-container img {
    margin-right: 10px;
    float: left;
}

.eduzen li.item .note-container img.type-icon {
    height: 20px;
    vertical-align: bottom;
    /** padding-right: 10px; **/
}

.eduzen li.item .name {
    color: #0782C1;
}

/** ------------------------------------------------ Topic Inline Details -- */

.eduzen li.item .body {
    margin-right: 10px;
    margin-top: 20px;
    max-width: 100%;
    display: none;
}

.eduzen li.item .body.visible {
    display: block;
}

.eduzen li.item .body img {
    float: none;
    margin-top: 5px;
    max-width: 100%;
    height: auto;
}

.eduzen li.item a.outlink,
.eduzen li.item .body a.command {
    padding: 5px;
    padding-left: 7px;
    padding-right: 7px;
    background: #f1f1f1;
    margin-right: 10px;
    word-break: break-all;
}

.eduzen li.item .body a:hover {
    text-decoration: underline;
}

.eduzen li.item a.outlink:active,
.eduzen li.item .body a.command:active {
    color: #fff;
}

.eduzen li.item a.outlink:hover,
.eduzen li.item .body a.command:hover {
    text-decoration: none;
    background-color: #0782C1;
    color: #eaeaea;
}

.eduzen li.item .body .label {
    margin-right: 10px;
}

.eduzen li.item .body .tag {
    padding-right: 10px;
}

/** .eduzen li.item .note-container.moodle-item img.type-icon {
    border-right: 3px solid #C50E1F;
}

.eduzen li.item .note-container.course img.type-icon {
    border-right: 3px solid #ffffff;
}

.eduzen li.item .note-container.file img.type-icon {
    border-right: 3px solid #91b6e2;
}

.eduzen li.item .note-container.tag img.type-icon {
    border-right: 3px solid #0782c1;
}

.eduzen li.item .note-container.notiz img.type-icon {
    border-right: 3px solid #a9a9a9;
} **/


/** ---------------------------------------------- Time Range Axis Styles -- */

.eduzen .time-axis-header {
    position: fixed;
    top: -10px;
    right: 100px;
    z-index: 1002;
}

.eduzen .time-axis {
    position: fixed;
    top: 140px;
    right: 20px;
    height: 95%;
    overflow-y: scroll;
}

.eduzen .time-axis .axis {
    padding-top: 5px;
}

.eduzen .time-axis .loader {
    width: 250px;
    height: 100%;
    opacity: .8;
    background-color: #fff;
}


.eduzen .time-axis .axis text {
    font-family: sans-serif;
    font-size: .9em;
    color: #0782C1;
}

.eduzen .time-axis .axis path,
.eduzen .time-axis .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

/** .eduzen .time-axis .axis .dot .label {
    display: none;
}

.eduzen .time-axis .axis .dot:hover .label {
    display: inline-block;
} **/

/** New scrollbar style for the time-axis */

.eduzen .time-axis::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

.eduzen .time-axis::-webkit-scrollbar-button:start:decrement,
.eduzen .time-axis::-webkit-scrollbar-button:end:increment {
    display: block;
    height: 0;
    background-color: transparent;
}

.eduzen .time-axis::-webkit-scrollbar-track-piece {
    background-color: #f1f1f1;
    -webkit-border-radius: 0;
    -webkit-border-bottom-right-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
}

.eduzen .time-axis::-webkit-scrollbar-thumb:vertical {
    height: 50px;
    background-color: #a9a9a9;
    -webkit-border-radius: 8px;
}

.eduzen .time-axis::-webkit-scrollbar-thumb:horizontal {
    width: 50px;
    background-color: #a9a9a9;
    -webkit-border-radius: 8px;
}
