
#stableviews-link {
    position: fixed;
    bottom: 1em;
    left: 1em;
}

#stableviews-link a {
    font-size: 60%;
    color: #444;
    text-decoration: none;
    margin-right: 1em;
}

#stableviews-link a:hover {
    text-decoration: underline;
}
