
/** Stableviews Page Design Definition */

body {
    background-color: #e8e8e2;
    padding: 0px; margin: 0px;
    font-family: sans-serif;
    margin: 1em 0em;
}

/** Areas */

.container {
    position: relative;
    background-color: #e8e8e2;
    margin-top: -20px;
    padding: 0px;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}

.content {
    width: 100%;
    height: 100px;
}

#map-panel {
    display: block;
    background-color: #e8e8e2;
    color: #fff;
    width: 100%;
    position: relative;
}

#map-panel text {
    cursor: pointer;
    overflow: hidden;
    overflow-style: panner;
    max-width: 120px;
}

#map-panel g {
    cursor: pointer;
}

svg:focus {
    border: 1px solid #0071bc;
}

.title {
    font-weight: 200;
    text-align: center;
    border-bottom: 1px solid #353535;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    margin-left: 100px;
    margin-right: 100px;
    text-transform: uppercase;
    color: #353535;
    min-height: 40px;
}

.details {
    display: none;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 1.4em;
    font-weight: 200;
    padding: 1em;
}

div .textblock {
    font-family: serif;
}

.topics text {
    text-transform: uppercase;
    padding-left: 7px; padding-right: 7px;
    padding: 5px;
}

.red {
    border: 1px solid #c1272d;
}

.topics rect {
    fill: #e8e8e2;
    stroke: #0071bc;
    stroke-width: 3;
    width: 70px; height: 20px; /** Sadly, has no effect in Firefox 47.0 **/
    rx: 2px; ry: 2px; /** Sadly, has no effect in Firefox 47.0 **/
}

.topics rect.selected {
    stroke: #c1272d;
}

.links line {
    stroke: #0071bc;
    stroke-width: 3;
}

/** Topic Commands Styles **/

.commands {
    margin-left: 100px;
    margin-right: 100px;
    font-family: sans-serif;
    text-transform: uppercase;
}

.selection-commands li,
.topic-commands li {
    list-style-type: none;
    display: inline-block;
}

.selection-commands li a,
.topic-commands li a {
    color: #383838;
    text-decoration: none;
    padding: 5px;
    padding-left: 10px; padding-right: 10px;
    background-color: white;
    cursor: pointer;
}

.selection-commands li a:hover,
.topic-commands li a:hover {
    background-color: #343434;
    color: #fefefe;
}

.selection-commands ul,
.topic-commands ul {
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 5px;
}

div.show {
    display: block;
    z-index: 1001;
}

.hide {
    display: none;
}

line.show {
    display: inline-block;
}

div.show-inline {
    display: inline-block;
}

.brush .extent {
    fill-opacity: .1;
    stroke: #fff;
    shape-rendering: crispEdges;
}


footer {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

.copy {
    position: fixed;
    bottom: 0px;
    background-color: rgb(83, 71, 65);;
    color: #fff;
    width: 100%;
    left: 0px;
}

#todoinput {
    padding: 5px;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    margin-left: -10px;
}
