
text {
    z-index: 3001;
}

.topics rect {
    fill: #fff;
    stroke: #40B0E2;
    stroke-width: 2;
    z-index: 2001;
}

.topics rect.selected {
    stroke: #444;
    stroke-width: 4;
    z-index: 4001;
}

/** As of chromium 53, the following filter attribute makes our SVG circle element disappear */
@-moz-document url-prefix() {
    .topics rect.selected {
        filter: drop-shadow( 1px 1px 4px #343434 );
    }
}

.links line.backdrop,
.topics rect.backdrop {
    opacity: .2;
    z-index: -1;
}

.links line {
    stroke: #c6c6c6;
    stroke-width: 2;
    z-index: 1001;
}

.topics rect[data-type-uri="dm4.notes.note"] {
    stroke: #f9e100;
}

.topics rect[data-type-uri="dm4.contacts.institution"] {
    stroke: #c10101;
}

.topics rect[data-type-uri="dm4.contacts.person"] {
    stroke: #2b2d28;
}

.topics rect[data-type-uri="dm4.webbrowser.web_resource"] {
    stroke: #4272c9;
}

.topics rect[data-view-prop-visibility="false"] {
    display: inline-block;
    opacity: .4;
    z-index: -1;
}

.topics rect[data-view-prop-visibility="false"].hide {
    display: none;
}
