
/** Stableviews Page Design Definition */

body {
    background-color: #A3B745;
    padding: 0px; margin: 0px;
    font-family: sans-serif;
    margin-left: 10%;
    margin-right: 10%;
}

/** Areas */

.user-dialog {
    position: relative;
    left: 0px;
    bottom: 0px;
    background-color: #fff;
    color: #666666;
    padding-top: 5px;
}

.container {
    position: relative;
    background-color: #fff;
    padding: 0px;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}

.file .title,
.web_resource .title {
    font-size: 16px;
    font-weight: normal;
}

.content {
    width: 100%;
    height: 100px;
}

#map-panel {
    display: block;
    background-color: #fff;
    color: #fff;
    max-width: 95%;
    min-height: 300px;
    position: relative;
    border-top: 1px solid #a9a9a9;
}

#map-panel svg {
    max-width: 100%;
}

#map-panel text {
    cursor: pointer;
}

#map-panel svg {
    cursor: move;
}

#map-panel g {
    cursor: pointer;
}

.copy {
    position: relative;
    top: 20px; left: 0px;
    color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    background-color: #fff;
    padding-left: 10px;
    padding-right: 10px;
}

#textinput {
    min-width: 300px;
    border: 0px solid transparent;
    padding-bottom: 5px;
    padding-top: 15px;
    display: inline-block;
    font-size: 1.2em;
}

#login,
#search {
    display: inline-block;
    padding: 5px; padding-left: 10px; padding-right: 10px;
    font-size: 1.2em;
    cursor: pointer;
}


.search-results {
    padding-bottom: 5px;
    border-top: 1px solid #A3B745;
    display: none;
    height: 100%;
    width: 100%;
    background-color: #fff;
    color: #666;
    font-size: .9em;
    overflow-y: scroll;
}

.search-result-list {
    /** list-style-type: none; */
    padding-left: 30px;
    margin-bottom: 10px;
}

.title {
    font-weight: 400;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 0px;
    color: #353535;
    min-height: 40px;
}

.text {
    display: none;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 1.4em;
    font-weight: 200;
    padding: 10px;
}

div .textblock {
    font-family: serif;
}

.toolbar {
    margin-left: 7%;
    margin-right: 7%;
    padding-left: 10px;
    padding-right: 10px;
}

.toolbar li {
    list-style-type: none;
    display: inline-block;
}

.toolbar li a {
    text-decoration: none;
    border-left: 1px solid #383838;
    border-right: 1px solid #383838;
    border-bottom: 1px solid #383838;
    padding: 5px;
    padding-left: 10px; padding-right: 10px;
}

.topics text {
    text-transform: uppercase;
    padding-left: 7px; padding-right: 7px;
    padding: 5px;
}

.red {
    border: 1px solid #c1272d;
}

.topics rect {
    fill: #fff;
    stroke: #A3B745;
    stroke-width: 3;
}

.topics rect.selected {
    stroke: #343434;
}

.links line {
    stroke: #adadad;
    stroke-width: 3;
}

div.show {
    display: block;
    z-index: 1001;
    background: #fff;
}

.hide {
    display: none;
}

line.show {
    display: inline-block;
}

div.show-inline {
    display: inline-block;
}

@media (max-width: 1400px) {
    .text,
    h1.title {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media (max-width: 1024px) {
    .text,
    h1.title {
        margin-left: 25px;
        margin-right: 25px;
    }
}

@media (max-width: 768px), (max-width: 720px) {
    .text,
    h1.title {
        margin-left: 10px;
        margin-right: 10px;
    }
}