
/** Stableviews Page Design Definition */

body {
    background-color: #383838;
    padding: 0px; margin: 0px;
    font-family: sans-serif;
    margin-left: 3%;
    margin-right: 3%;
}

/** Areas */

.container {
    position: relative;
    background-color: #fff;
    padding: 0px;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}

.loader {
    font-size: 4em;
    color: #444;
    margin-top: 40px;
    z-index: 2001;
    text-align: center;
    width: 100%;
}

.hide {
    display: none;
}

.content {
    width: 100%;
    height: 100px;
}

.file .title,
.web_resource .title {
    font-size: 16px;
    font-weight: normal;
}

#map-panel {
    display: block;
    background-color: #fff;
    color: #fff;
    max-width: 100%;
    min-height: 300px;
    position: relative;
}

#map-panel text {
    cursor: pointer;
}

#map-panel svg {
    cursor: move;
}

#map-panel g {
    cursor: pointer;
}

#map-commands {
    position: absolute;
    right: 0px;
    top: 10px;
    display: none;
}

#map-commands a {
    text-decoration: none;
    color: #444;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    display: block;
    min-height: 20px;
    min-width: 40px;
}

#map-commands #zoom-in,
#map-commands #zoom-out {
    padding-right: 0px;
}

#map-commands a:hover {
    color: #000;
    background: #e8e8e8;
}

footer {
    padding: 0px;
    min-height: 200px;
}

.source-code a {
    color: #666;
    font-size: 2.5em;
}

.source-code a:hover {
    color: #fff;
}

.source-code {
    width: 100%;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;
}

.copy {
    margin-top: 10px;
    color: #fff;
    width: 100%;
    left: 0px;
}

.user-dialog {
    width: 150px;
    padding: 10px; padding-left: 0px;
    text-align: center;
    display: inline-block;
    display: none;
    font-size: 1.2em;
}

#textinput {
    padding: 5px; padding-left: 10px; padding-right: 10px;
    min-width: 340px;
    display: inline-block;
    font-size: 1.2em;
}

#login,
#search {
    display: inline-block;
    padding: 5px; padding-left: 10px; padding-right: 10px;
    font-size: 1.2em;
    cursor: pointer;
}

.search-results {
    padding-bottom: 5px;
    border-top: 1px solid #383838;
    display: none;
    height: 100%;
    width: 100%;
    /** background-color: #fff; **/
    color: #e8e8e8;
    font-size: .9em;
}

.search-results a {
    color: #40B0E2;
}

.search-result-list {
    /** list-style-type: none; */
    padding-left: 30px;
    margin-bottom: 10px;
}

.title {
    font-weight: 200;
    text-align: center;
    border-bottom: 1px solid #383838;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-left: 90px;
    margin-right: 90px;
    text-transform: uppercase;
    color: #383838;
    min-height: 40px;
    margin-bottom: 5px;
}

.text {
    display: none;
    margin-left: 7%;
    margin-right: 7%;
    font-size: 1.2em;
    font-weight: 200;
    padding: 10px;
}

div .textblock {
    font-family: serif;
}

.toolbar {
    margin-left: 7%;
    margin-right: 7%;
    padding-left: 10px;
    padding-right: 10px;
}

.toolbar li {
    list-style-type: none;
    display: inline-block;
}

.toolbar li a {
    color: #383838;
    text-decoration: none;
    border-left: 1px solid #383838;
    border-right: 1px solid #383838;
    border-bottom: 1px solid #383838;
    padding: 5px;
    padding-left: 10px; padding-right: 10px;
}

.toolbar li a:hover {
    background-color: #e9e9e9;
}

.toolbar ul {
    padding: 0px;
    margin-top: 0px;
}

.topics text {
    text-transform: uppercase;
    padding-left: 7px; padding-right: 7px;
    padding: 5px;
}

.red {
    border: 1px solid #c1272d;
}

.topics rect {
    fill: #fff;
    stroke: #40B0E2;
    stroke-width: 2;
}

.topics rect.selected {
    stroke: #444;
    stroke-width: 4;
}

.links line.backdrop,
.topics rect.backdrop,
.topics rect.hidden {
    opacity: .2;
}

.links line {
    stroke: #444;
    stroke-width: 2;
}

div.show {
    display: block;
    z-index: 1001;
    background: #fff;
}

line.show {
    display: inline-block;
}

div.show-inline {
    display: inline-block;
}

@media (max-width: 1400px) {
    h1.title {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media (max-width: 1024px) {
    h1.title {
        margin-left: 25px;
        margin-right: 25px;
    }
}

@media (max-width: 768px), (max-width: 720px) {
    .text,
    h1.title {
        margin-left: 10px;
        margin-right: 10px;
    }
    #textinput, #login, #search, footer, .container {
        font-size: .8em;
    }
}
