
/** Stableviews Page Design Definition */

body {
    background-color: #383838;
    padding: 0px; margin: 0px;
    font-family: sans-serif;
    margin-left: 10%;
    margin-right: 10%;
}

/** Areas */

.user-dialog {
    position: fixed;
    left    : 0px;
    bottom: 35px;
    width: 10%;
    background-color: #fff;
    color: rgb(83, 71, 65);
    padding: 10px; padding-left: 0px;
    text-align: center;
}

.container {
    position: relative;
    background-color: #fff;
    padding: 0px;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}

.content {
    width: 100%;
    height: 100px;
}

#map-panel {
    display: block;
    background-color: #fff;
    color: #fff;
    width: 100%;
    position: relative;
}

#map-panel text {
    cursor: pointer;
}

#map-panel g {
    cursor: pointer;
}

footer {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

.copy {
    position: fixed;
    bottom: 0px;
    background-color: rgb(83, 71, 65);;
    color: #fff;
    width: 100%;
    left: 0px;
}

#todoinput {
    padding: 5px;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    margin-left: -10px;
}

.title {
    font-weight: 200;
    text-align: center;
    border-bottom: 1px solid #383838;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-left: 100px;
    margin-right: 100px;
    text-transform: uppercase;
    color: #383838;
    min-height: 40px;
}

.text {
    display: none;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 1.4em;
    font-weight: 200;
    padding: 10px;
}

div .textblock {
    font-family: serif;
}

.topics text {
    text-transform: uppercase;
    padding-left: 7px; padding-right: 7px;
    padding: 5px;
}

.red {
    border: 1px solid #c1272d;
}

.topics rect {
    fill: #fff;
    stroke: #40B0E2;
    stroke-width: 2;
}

.topics rect.selected {
    stroke: #383838;
}

.links line {
    stroke: #383838;
    stroke-width: 2;
}

div.show {
    display: block;
    z-index: 1001;
    background: #fff;
}

.hide {
    display: none;
}

line.show {
    display: inline-block;
}

div.show-inline {
    display: inline-block;
}
