
/** General Styles */

body {
    padding: 0px;
    margin: 0px;
}

.loader {
    font-size: 1em;
    color: #444;
    margin-top: 40px;
    z-index: 2001;
    text-align: center;
    width: 100%;
}

.loader.active.dimmer.hide,
.details,
.hide {
    display: none;
}

.details img {
    max-width: 100%;
    height: auto !important;
}

.right.sidebar {
    color: #fff;
}

.sidebar .login #submit {
    margin-top: 15px;
}

.login .username {
    font-style: italic;
}

.login .login-failure {
    color: #ff0000;
}

.content {
    width: 100%;
    height: 100px;
}

.title {
    display: inline-block;
    margin: 5px;
}

.lower.sidebar .search-controls {
    display: inline-block;
    position: absolute;
    right: 45px;
    top: 15px;
}

.lower.sidebar .title {
    margin-right: 370px;
}

.lower.sidebar .search-results,
.lower.sidebar .details {
    max-height: 150px;
    overflow-y: scroll;
    padding-left: 5px;
    width: 97%;
    margin-top: 10px;
}

.lower.sidebar.expanded .details,
.lower.sidebar.expanded .search-results {
    max-height: 90%;
    height: 90%;
}

.file .title,
.web_resource .title {
    font-size: 16px;
    font-weight: normal;
}

#map-panel {
    display: block;
    background-color: #fff;
    color: #fff;
    max-width: 100%;
    min-height: 300px;
    position: relative;
}

#map-panel text {
    cursor: pointer;
}

#map-panel svg {
    cursor: move;
}

#map-panel g {
    cursor: pointer;
}

#map-commands {
    position: absolute;
    right: 0px;
    top: 10px;
    display: none;
}

#map-commands a {
    text-decoration: none;
    color: #444;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    display: block;
    min-height: 20px;
    min-width: 40px;
}

#map-commands #zoom-in,
#map-commands #zoom-out {
    padding-right: 0px;
}

#map-commands a:hover {
    color: #000;
    background: #e8e8e8;
}

select.topicmaps {
    padding: 5px;
}

footer {
    padding: 0px;
    min-height: 200px;
}

.source-code a {
    color: #666;
    font-size: 2.5em;
}

.source-code a:hover {
    color: #fff;
}

.source-code {
    width: 100%;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;
}

.copy {
    margin-top: 10px;
    color: #fff;
    width: 100%;
    left: 0px;
}

/** Graph Panel Styles **/

.selection-commands li,
.topic-commands li {
    list-style-type: none;
    display: inline-block;
}

.selection-commands li a,
.topic-commands li a {
    color: #383838;
    text-decoration: none;
    padding: 5px;
    padding-left: 10px; padding-right: 10px;
    background-color: #e9e9e9;
    cursor: pointer;
}

.selection-commands li a:hover,
.topic-commands li a:hover {
    background-color: #343434;
    color: #fefefe;
}

.selection-commands ul,
.topic-commands ul {
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 5px;
}

div.show {
    display: block;
    z-index: 1001;
    background: #fff;
}

line.show {
    display: inline-block;
}

div.show-inline {
    display: inline-block;
}

.red {
    border: 1px solid #c1272d;
}

.topics rect[data-view-prop-visibility="false"] {
    display: none;
}

/** General Semantic UI Overrides **/

.ui.checkbox input {
	cursor: pointer;
}

.ui.input #search {
	min-width: 140px;
}

.ui.input #search:focus {
    min-width: 280px;
}

.ui.primary.button {
	margin-left: 15px; margin-right: 15px;
}

.ui.inverted.menu.main {
    background-color: #343434;
}

/** Three Button Groups Right */
#menu-button {
    position: fixed;
    right: -7px;
    top: 22px;
}

#close-menu {
    position: relative;
    left: -10px;
    top: -4px;
}

.ui.tertiary.dropdown {
    position: fixed;
    right: -8px;
    top: 65px;
}

.ui.vertical.zooming {
    position: fixed;
    right: -3px;
    top: 115px;
}

/* Lower Sidebar */

.ui.lower.sidebar {
	padding: 15px;
	background: #fff;
	max-height: 75%;
}

.ui.lower.sidebar.bottom.expanded {
	height: 75% !important;
}

/** Main Sidebar Right */

.main.menu .ui.selection.dropdown {
    min-height: 0;
}

.sidebar .login div,
.sidebar .login button {
    margin-top: 5px;
    margin-bottom: 5px;
}

.sidebar .login button {
    display: block;
}

.main.menu .ui.container {
    padding: 15px;
}

/* .main.menu .ui.selection.dropdown .menu.transition {
    background-color: #434343;
    color: #fff;
}

.ui.menu .ui.dropdown .menu > .active.item {
    color: #fff;
} **/

/* .ui.very.wide.sidebar.right {
    z-index: 3001;
} **/

/**
.ui.lower.sidebar.left.sided,
.ui.lower.sidebar.right.sided {
	top: 25%;
	height: 75% !important;
	width: 50% !important;
}

.ui.lower.sidebar.left.sided {
	border-right: 1px solid #a9a9a9;
}

.ui.lower.sidebar.right.sided {
	border-left: 1px solid #a9a9a9;
}

.ui.lower.sidebar .ui.button.add-bar {
	right: 15px;
} **/
